@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

* {
  box-sizing: border-box;
}

label,
button,
select,
input[type='checkbox'] {
  cursor: pointer;
}

html {
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

ul,
h2,
h3 {
  padding: 0;
  margin: 0;
}

a {
  color: #f1faee;
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  color: #e63946;
}

a:active {
  color: #e63946;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: 'Jura', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100vw;
}

body > * {
  padding: 2rem;
}

header,
footer {
  background-color: #1d3557;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2rem;
  row-gap: 1rem;
}

main {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 2rem;
  column-gap: 2rem;
}

.main-info {
  order: 2;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

section {
  background-color: #a8dadc;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

section ul,
.aside ol {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

section li,
.aside ol li {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.aside {
  order: 1;
  width: 100%;
  padding: 2rem;
  background-color: #457b9d;
  color: white;
  display: flex;
  row-gap: 1rem;
  flex-grow: 1;
  align-self: flex-start;
}

code {
  background: #f1faee;
  padding: 1rem;
  display: block;
}

.base-types-list {
  flex-direction: row;
  column-gap: 0.5rem;
  flex-wrap: wrap;
}

.base-types-list li {
  padding: 0.5rem;
  background: #f1faee;
  flex-grow: 1;
  text-align: center;
}

.base-types-list a {
  color: #1d3557;
  font-weight: bold;
}

.base-types-list a:hover {
  color: #e63946;
}

dl {
  background-color: #e63946;
  padding: 0.5rem;
}

.header__logo {
  width: 100px;
  height: 100px;
}

figure {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
}

figure img {
  width: 100%;
}

.to-top {
  position: fixed;
  font-size: 60px;
  padding: 0.5rem;
  bottom: 0;
  color: #e63946;
}

@media (max-width: 1024px) {
  html {
    font-size: 16px;
  }

  body > * {
    padding: 1rem;
  }

  ol {
    padding: 0;
  }

  .aside {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  figure img {
    width: 50%;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 16px;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  footer {
    flex-direction: column;
  }
}
